<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demopro.dao.BlogDao">
    <resultMap id="Blog" type="com.example.demopro.bean.BlogBean">
        <result column="id" property="id"></result>
        <result column="username" property="username"></result>
        <result column="content" property="content"></result>
        <result column="publishTime" property="publishTime"></result>
        <result column="blog_title" property="blog_title"></result>
    </resultMap>

    <select id="GetBlogById" resultMap="Blog">
        select * from wann.blog where id = #{id};
    </select>

    <select id="GetBlogsByUserName" resultMap="Blog">
        select * from wann.blog where username = #{username};
    </select>

    <insert id="AddBlog">
        insert into wann.blog(username,content,publishTime,blog_title) values(#{username},#{content},#{publishTime},#{blog_title});
    </insert>
</mapper>